*{margin: 0; 
padding: 0;} 
/* CSS Browser RESET */

html{background: #f0f0f0;}
header, 
nav,
.main-wrapper, 
footer {
    width: 80%;
    float: none; 
    clear: both; 
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}
body{
    font-family:sans-serif;
    font-size: 18px;
    line-height: 1em;
}
section {
    padding: 10px; 
    margin: 10px;
    border: solid 1px darkblue;
    border-radius: 25px;
}
header {
    background: url("../images/background-2420782__340.png"); 
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    line-height: 1.2em;
    padding: 0.5em 0;
    color: grey;
    text-shadow:none;
    background: rgba(112,200,55,0.5);
    margin: 10px 0;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.6);
}
h1 {
    background: url("../images/logo.png") no-repeat 0px 10px/50px;
    padding: 0 0 0 40px;
    line-height: 60px;
}
a, a:link {
    text-decoration: none;
    color: magenta;
}
h1 {
    font-style: italic;
    font-weight: 100px;
    color: blue;
    font-size: 1.5em;
}
h1 span {
    font-size: 0.5em;
    vertical-align: bottom;
    text-decoration: underline;
}
#top h1{
    letter-spacing: 10px;
}
nav {
    border: 1px solid blue;
    background: #ffd500;
    background: -moz-linear-gradient(top, #ffd500 0%, #48ff00 100%);
}
nav li{
    border-right: blue;
}
nav a
 {
     margin: 20px;
     text-transform:uppercase; 
}
nav > a:visited {
    color: #0000;
    margin: 20px;
    text-transform: uppercase;
}
nav > a:hover {
    text-decoration: underline;
    color: red;
}

}
nav > a:active {
    color:yellow;
}

.main-wrapper {background: #fff;}
main {
    float: left; 
    width: 65%; 
    padding: 10px;
}
section {
    background: hsla(56, 100%, 50%, 1)
    padding: 10px; 
    margin: 10px;
}
section.sport_article {
    width: 450px;
    float: left;
    margin: 14px 10px;
    border: 1px solid #4af;
    min-height: 508px;
}
aside {
    float: right; 
    width: 30%; 
    padding: 10px;  
    background: rgba(000, 100, 200, 0.8);
    box-shadow: 4px 4px 0;
    border: 3px solid #fccc;
    border-radius: 25px/15px;
    height: 100px;
    
}
footer {
    background: rgb(89,200,255); 
    color: #fff;
}
.article_image {
    width: 300px;
    height: 300px;
    opacity: 0.3;
}
div#scroll_page {
    margin: 20px;
    padding: 20px 40px;
    background: #eee;
    float: right;
}
 p{
    margin-bottom: 10px;
}
ul{ 
    padding:20px;
    background: lightblue;
    border: 1px solid gray;
    color: white;
    width:200px;
    border-radius: 20px;
    text-align: justify

}
footer ul{
    width: 300px;
    margin-bottom: 10px;
    padding-left: 30px;
}
    
p.article_short_expl {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2em;
}
p.article_expl {
    font-size: 0.9em;
    line-height: 1.3em;
    color: blue;
    padding-bottom: 12px;
    text-align: justify;
}
p.article_price {
    font-size: 1em;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
p.article_tags {
    font-size: 1.2em;
    font-style: italic;
}
#index_article_1,#index_article_2,#index_article_3,#index_article_4{
text-decoration: underline;
color: red;
    
}
#index_article_1 h2,#index_article_2 h2{
font-style: italic;
font-weight: 100px;
color: blue;
font-size: 1.5em;
padding-left: 10px;
border-radius: 10px;
    
}
form div.row{
    background-color: skyblue;
    opacity: 0.3;
    font-size:0.8em;
}
main > article {
    position: relative;
    margin: 10px;
    padding: 10px;
}
a[href="#top"] {
    position: absolute;
      bottom: 0px;
      right: 20px;
}
article#create-user-account{
    line-height: 1em;
    text-transform: capitalize;
    font-weight: bold;
    color: #339;
    }
article#catalogues {
    float: left;
    width: 200px;
    background: yellow;
    margin: 10px;
    padding: 10px;
}
footer form{
    background: grey;
}

article#find_us_globe{
   background-color: aliceblue;
   color:blue;
   border:1px solid #112233;
   float:inherit;
   margin: 10px;
     }
#submit_button{
    border: 1px solid #ccc;
    padding: 5px;
    color: blue;
}
.sport_article:nth-of-type(2n) h2{
    
    margin-left: 30px;
    color: #ffa500;
    font-weight: bold; 
    font-size: 1.6em;
}

    .input{
    border: 2px solid green;
    padding: 2px;
    color: blue;
        
    }
#first-name{
    background-color: beige;
    color: red;
}

#last-name{
    background-color: beige;
    color:green;
}
input,textarea{
    color: #999;}
article#find_us_globe h2+span {
    font-style: italic;
    color: red;
    border-style: dashed;
}
aside#google-map > img:first-child {
    width: 460px;
    
}
article[id^="index_article"] p{
    color: black;
    text-align: justify;
}
form input[type]{
    border: 3px solid #4af;
}
textarea,input[type="submit"],input[type="date"]{
    border: 3px solid #4af;
}
main img{
    width: 300px;
    height: 300px;
    border: 1px dotted black;
    background-color: transparent;
}
a {
color: #000; 
margin: 20px;
}
a:visited{
    color: #999;
}
a:hover{
    text-decoration: underline;
    color: #4af;
}
a:active{
    color: #f00;
}
nav a:first-child{
    margin-left: 0px;
}
article#index_article_4 li > a{
    color: #f0f; 
}

article#index_article_4 ul >li:nth-of-type(4) > a{
    color: #999;
}
h2::first-letter{
    font-size: 24px; 
    font-weight: bold;
    color: darkmagenta;
}
footer ul {
    float: left;
    padding: 10px 5px;
    margin-left: 20px;
    width: 330px;
}
footer form {
    float: right;
    margin-right: 20px;
}
nav{
    right: 27%;
}
#world-premiere{
    font-size: 16px;
    font-family: "Teko", sans-serif;
    width: 450px;
    margin: 25px auto;
    border: 1px solid rgba(255,255,255,.2);
    background: #8FD8FF no-repeat center bottom;
    min-height: 10px;
}
#world-premiere .heading{
    background-color: white;
    padding: 15px 0px 2px 0px;
    margin: 0px 0px 10px 0px;
}
#world-premiere h1{
    font-size: 15px;
    color: blue;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 10px;
    padding: 0;
    text-align: center;
}
#world-premiere h2{
    font-size: 15px;
    color: #6fb5f8;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    padding: 10px 5px;;
    text-align: center;
    letter-spacing: 9px;
    background-color: white;
    text-transform: uppercase;
    animation-name: popust;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#world-premiere .my-countdown .countdown-row{
    display: block;
    text-align: center;
}
#world-premiere .my-countdown .countdown-section{
    display: inline-block;
    width: 100px;
}
#world-premiere .my-countdown .countdown-amount{
    display: block;
    color: blue;
    font-size: 20px;
    line-height: 20px;
}
#world-premiere .my-countdown .countdown-period{
    display: block;
    color: green;
    font-size: 15px;
    text-transform: uppercase;
}
@keyframes popust {
  from {background-color: red;}
  to {background-color: yellow;}
}

